@charset "UTF-8";
@import url(grid.css);
@import url(form.css);
@import url(table.css);

/* CSS Document */


/*Global Rules*/

html {
	/* Box Sizing */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #999;
	background-color: #f9f8f8;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4 {
	color: #373737;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 32px;
	margin: 0;
}

h3 {
	font-size: 24px;
	font-weight: 200;
	margin-bottom: 0;
}

h4 {
	font-size: 18px;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	font-size: 18px;
	margin: 0;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.btn {
	display: inline-block;
	font-size: 14px;
	background-color: #0B676B;
	/* teal */
	color: #FFF;
	padding: 15px 20px;
	border: 0 none;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
	-webkit-transition: background 0.3s ease 0s;
	-moz-transition: background 0.3s ease-out;
	-ms-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	transition: background 0.3s ease-in-out;
}

.btn:hover {
	background-color: #588B8D;
}

.btn>i {
	color: #FFF;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.alpha {
	margin-left: 0px;
}

.omega {
	margin-right: 0px;
}


/*navigation classes*/

nav ul li {
	display: inline-block;
}

.nav li {
	float: none;
	border-right: 1px solid #dedede;
	font-size: 18px;
}

.nav li:last-child {
	border-right: 0 none;
}

.nav a {
	padding: 0px 10px;
	-webkit-transition: color 0.3s ease 0s;
	-moz-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-in-out;
}

.active a {
	color: #5adae2;
	/* turquoise */
}

.nav a:hover {
	color: #5adae2;
	/* turquoise */
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


/*Page Header classes*/

.header {
	background-color: #373737;
}

.page-header {
	background-color: #5adae2;
	color: #fff;
	margin-bottom: 20px;
}

.brand {
	padding-top: 45px;
	padding-bottom: 45px;
	font-size: 22px;
}

.nav {
	padding-top: 60px;
}

.pull-right {
	float: right;
}

.page-header.home {
	margin-bottom: 50px;
	margin-bottom: 0
}

.page-header.home h1 {
	font-weight: normal;
	text-align: center;
}

.page-header.home p {
	font-size: 18px;
	font-weight: 200;
}

.page-header.home a {
	padding-left: 35px;
}

.page-header .btn {
	margin-top: 40px;
	margin-left: 20px;
}

.page-header {
	padding-top: 30px;
	padding-bottom: 70px;
}

.page-header p {
	padding-left: 15px;
	font-size: 26px;
}

.page-header h1 {
	font-weight: bold;
	text-align: center;
	padding-left: 15px;
}

.page-header.home p {
	font-size: 18px;
	font-weight: 200;
}

.page-header.home a {
	padding-left: 35px;
}


/*Main classes*/

.main {
	background-color: #edecea;
}

.main-content-top h1 {
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

.main-content-top {
	margin-bottom: 75px;
}

.main-content-bottom {
	padding-bottom: 75px;
	text-align: center;
}

.main-content-top i {
	color: #5adae2;
	vertical-align: -10px;
	/* center icon to heading */
}


/*Content Boxes*/

.contentbox {
	background-color: #fff;
	padding-bottom: 58px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	margin-bottom: 70px;
}

.contentbox li {
	color: #373737
}

.contentbox-beige {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 70px;
}

.contentbox-turquoise {
	padding: 10px;
	margin-bottom: 70px;
	background-color: #5adae2;
}

.contentbox>img {
	float: left;
	margin-right: 15px;
}

.contentbox-beige>img {
	float: left;
	margin-right: 15px;
}

.contentbox h4 {
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

.contentbox li {
	font-size: 18px;
	font-weight: 200;
}

.contentbox i {
	color: #5adae2;
}

.main-content-bottom,
.contentbox-beige {
	min-height: 350px;
}


/*Tiles classes*/

.tile {
	background-color: #5adae2;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

.tile {
	margin: 0 0 5px 5px;
	padding: 20px;
	text-align: center;
}

.tile p {
	margin: 0;
}

.tile i {
	font-size: 108px;
}


/*Footer classes*/

.footer {
	background-color: #373737;
}

.footer h4 {
	color: #fff;
}

.footer p {
	color: #999;
}

.footer-bottom {
	background-color: #000;
	color: #fff;
}

.social {
	text-align: center;
}

.footer p {
	font-size: 16px;
	font-weight: 200;
	margin-top: 0;
}

.footer ul {
	font-size: 16px;
	font-weight: 200;
}

.footer-bottom a {
	color: #fff;
}

.footer a:hover,
.footer i:hover {
	color: #5adae2;
}

.footer-bottom a:hover {
	color #5adae2;
}

.social-list {
	text-align: center;
}

.social-list li {
	display: inline-block;
}

.social-list i {
	background-color: #2D2D2D;
	margin: 5px 10px 0 0;
	padding: 3px;
	width: 40px;
	display: inline-block;
}

.social-list i:hover {
	background color to #373737;
}


/*Home classes*/

.message {
	background-color: #4cd2da;
}

.message h3 {
	color: #fff;
}

.message {
	padding-top: 60px;
	padding-bottom: 60px;
}

.message .btn {
	margin-left: 20px;
}


/*About Page*/

.team h1 {
	margin-bottom: 40px;
	text-align: center;
}

.team-member {
	margin-bottom: 20px;
}

.team-member ul {
	text-align: right;
}

.team-member li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.team-member a {
	color: #1e1f1f;
}

.team-member i {
	background-color: #edecea;
	Color: #1e1f1f;
	font-size: 16px;
	padding: 3px;
	margin: 0;
	width: 22px;
	display: inline-block;
	text-align: center;
}

.team-member a {
	color: #1E1F1F;
}

.team-member a:hover {
	color: #5adae2;
}

.team-member i:hover {
	color: #5adae2;
	background-color: #1e1f1f;
}


/*Blog Classes*/

.blog-tease h2 {
	color: #fff;
}

.blog-tease {
	min-height: 210px;
	padding-bottom: 70px;
	color: #fff;
}

.sidebar p {
	font-size: 13px;
	line-height: 18px;
	color: #1e1f1f;
	padding-bottom: 10px;
}

.sidebar a {
	color: #1e1f1f;
}

.sidebar li {
	font-size: 14px;
}

.photos img {
	padding-right: 10px;
	padding-bottom: 10px;
}


/* portfolio page */

.portfolio-item {
	margin-bottom: 10px;
	position: relative;
}

.portfolio-title {
	color: white;
	text-align: center;
	height: 308px;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	opacity: 0;
	/* opacity is zero. Nothing displays */
	padding: 10px;
	-webkit-transition: opacity 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease 0s;
}

.portfolio-title:hover {
	background-color: #5adae2;
	opacity: .9;
}

.info li {
	display: inline-block;
}


/*contact page */

.map iframe {
	width: 100%;
}

.address,
.address a {
	color: #1e1f1f;
}

.address li {
	padding-bottom: 5px;
}

.info li {
	font-size: 14px;
	background-color: #edecea;
	padding: 5px 8px;
	margin-top: 5px;
	margin-right: 5px;
}

.info i {
	color: #1e1f1f;
	display: inline-block;
	width: 22px;
	text-align: center;
}

.info a:hover {
	color: #5adae2;
}

.info i:hover {
	color: #5adae2;
}


/* Mobile navigation */

.menu-link {
	position: absolute;
	right: 50px;
	/* adjust this value if need be */
	top: 60px;
	/* adjust this value if need be */
}

.nav {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	overflow: hidden;
	max-height: 0;
	/* zero height so nav is hidden */
}

.nav.active {
	max-height: 25em;
	/* after menu click, nav expands */
}

.nav.active a {
	color: #fff;
}

.nav ul {
	width: 100%;
}

.nav li {
	display: block;
	float: none;
	border-top: 1px solid #dedede;
	/* gray */
	border-right: 1px solid #dedede;
	/* gray */
	border-left: 1px solid #dedede;
	/* gray */
	font-size: 18px;
}

.nav li:last-child {
	border-bottom: 1px solid #dedede;
	/* gray */
}

.nav a {
	display: block;
	padding: 15px;
}

.nav a:hover,
.nav a:focus {
	background-color: #5ADAE2;
	/* turquoise */
}


/*Media Queries*/


/* Smartphone landscape */

@media (min-width: 480px) {}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
	/* ... paste updated global rules here ... */
	/* Global */
	.contentbox .one-half {
		width: 344px;
	}
	/* Portfolio */
	NOTE: Delete the portfolio hover styles from the top of the CSS file so that they aren't rendering on small devices.
 .portfolio-item {
		position: relative;
		margin-bottom: 10px;
	}
	.portfolio-title {
		color: white;
		text-align: center;
		height: 243px;
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		opacity: 0;
		padding: 10px;
		-webkit-transition: opacity 0.3s ease 0s;
		-moz-transition: opacity 0.3s ease-out;
		-ms-transition: opacity 0.3s ease-out;
		-o-transition: opacity 0.3s ease-out;
		transition: opacity 0.3s ease 0s;
	}
	.portfolio-title:hover,
	.portfolio-title:focus {
		opacity: .9;
		background-color: #5adae2;
	}
	/* blog page */
	.sidebar-form input[type="text"] {
		height: 30px;
		width: 125px;
		padding: 0;
		margin-bottom: 2px;
		-webkit-border-radius: 4px 0 0 4px;
		-moz-border-radius: 4px 0 0 4px;
		border-radius: 4px 0 0 4px;
	}
	.sidebar-form .btn {
		height: 30px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 10px;
		padding-right: 10px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		border: 0 none;
		-webkit-transition: background 0.5s ease 0s;
		-moz-transition: background 0.5s ease 0s;
		transition: background 0.5s ease 0s;
	}
	.recent-entries img {
		float: left;
		padding-right: 10px;
	}
	/* Horizontal navigation */
	.nav {
		padding-top: 60px;
		max-height: none;
	}
	.nav ul {
		width: auto;
	}
	.nav li {
		display: inline-block;
		border: 0 none;
		border-right: 1px solid #dedede;
		/* gray */
	}
	.nav li:last-child {
		border-bottom: 0 none;
		border-right: 0 none;
	}
	.nav a {
		padding: 0px 10px;
		transition: all 0.15s ease-in-out;
	}
	.nav a:hover,
	.active a {
		color: #5ADAE2;
		/* turquoise */
		background-color: transparent;
	}
	/* mobile nav */
	.menu-link {
		display: none;
	}
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
	/* ... place updated global rules here ... */
	/* Global */
	.contentbox .one-half {
		width: 440px;
	}
	.sidebar {
		padding: 30px;
	}
	.map iframe {
		width: 620px;
		height: 350px;
	}
	/* Portfolio */
	.portfolio-title {
		height: 308px;
	}
	.portfolio-title h2 {
		margin-top: 40px;
	}
}
