@charset "UTF-8";

/* CSS Document */


/* Box Sizing */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #edecea;
    background-color: #f9f8f8;
}

.header {
    background-color: #373737;
}

.main {
    background-color: #f9f8f8;
}

.footer {
    background-color: #373737;
}

.footer h4 {
    color: #fff;
}

.footer p {
    color: #edecea;
}

.footer-bottom {
    background-color: #000;
    color: #fff;
}

.page-header {
    background-color: #5adae2;
    color: #fff;
}

.message {
    background-color: #4cd2da;
}

.message h3 {
    color: #fff;
}

.contentbox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox li {
    color: #373737
}

.contentbox-beige {
    background-color: #FDFDF8;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-turquoise {
    padding: 10px;
    margin-bottom: 70px;
    background-color: #5adae2;
}

.contentbox>img {
    float: left;
    margin-right: 15px;
}

.contentbox-beige>img {
    float: left;
    margin-right: 15px;
}

.tile {
    background-color: #5adae2;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.blog-tease {
    color: #fff;
}

.blog-tease h2 {
    color: #fff;
}

.one-quarter {
    width: 220px;
}

h1,
h2,
h3,
h4 {
    color: #373737;
}

a {
    color: #fff;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*GRID RULES */

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.row {
    overflow: hidden;
}

.one-whole {
    width: 940px;
}

.three-quarters {
    width: 700px;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-sixth {
    width: 140px;
}

.alpha {
    margin-left: 0px;
}

.omega {
    margin-right: 0px;
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}


/* header styles */

.brand {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav {
    padding-top: 60px;
}

.pull-right {
    float: right;
}


/* footer css*/

.social {
    text-align: center;
}


/* main content */

.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
}

.page-header p {
    padding-left: 15px;
}


/* Home page */

.page-header .home {
    margin-bottom: 50px;
}

.message {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-content-bottom {
    padding-bottom: 75px;
}

.blog-tease {
    height: 210px;
}


/* about page */

.team h1 {
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}


/* portfolio page */

.portfolio-item {
    margin-bottom: 10px;
}

.portfolio-title {
    display: none;
}

.info li {
    display: inline-block;
}

.sidebar {
    padding: 10px;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}


/*contact page */

.table,
.form p,
.map h3 {
    margin-left: 15px;
}
