.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
}

.row {
    overflow: hidden;
}

.one-whole {
    width: 960px;
}

.three-quarters {
    width: 800px;
}

.two-thirds {
    width: 640px;
}

.one-half {
    width: 480px;
}

.one-third {
    width: 320px;
}

.one-third-index p {
    width: 255px;
    padding-right: 50px;
    margin-left: 5px;
}

.index-padding {
    padding-left: 30px;
}

.index-practice-padding {
    padding-right: 40px;
}

.one-sixth {
    width: 160px;
}

.alpha {
    margin-left: 0px;
}

.omega {
    margin-right: 0px;
}

.one-quarter {
    width: 220px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}